body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #495592;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2em;
}

h2 {
    color: #333;
}

.gallery {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.gallery-item {
    width: 30%;
    height: auto;
}

footer {
    text-align: center;
    background-color: #495592;
    color: white;
    padding: 1em 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
